{% if site.social.twitter %}<a href="https://twitter.com/{{ site.social.twitter }}" class="mdi mdi-twitter"></a>{% endif %}
{% if site.social.github %}<a href="https://github.com/{{ site.social.github }}" class="mdi mdi-github-circle"></a>{% endif %}
{% if site.social.keybase %}<a href="https://keybase.io/{{ site.social.keybase }}" class="mdi mdi-account"></a>{% endif %}
{% if site.social.reddit %}<a href="https://reddit.com/{{ site.social.reddit }}" class="mdi mdi-reddit"></a>{% endif %}
{% if site.social.hackernews %}<a href="https://news.ycombinator.com/user?id={{ site.social.hackernews }}" class="mdi mdi-hackernews"></a>{% endif %}
{% if site.social.disqus %}<a href="https://disqus.com/by/{{ site.social.disqus }}" class="mdi mdi-disqus"></a>{% endif %}
{% if site.social.instagram %}<a href="https://instagram.com/{{ site.social.instagram }}" class="mdi mdi-instagram"></a>{% endif %}
{% if site.social.linkedin %}<a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" class="mdi mdi-linkedin-box"></a>{% endif %}
{% if site.social.facebook %}<a href="https://www.facebook.com/{{ site.social.facebook }}" class="mdi mdi-facebook-box"></a>{% endif %}
