<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Header Compartment -->
    <header class="index">
      <div class="title">
        <!-- Title of the site -->
        <h1>{{ site.title }}</h1>
        <!-- Site description and Social Media links -->
        <p>
          {{ site.description }}
          <br />
          <span class="social-media">
            {% include social-links.html %}
          </span>
        </p>
        <!-- Link down -->
        <p class="chev-down">
          <a href="#start" class="mdi mdi-chevron-double-down"></a>
        </p>
      </div>
    </header>

    <!-- Nav Bar -->
    <nav class="container index">
      <!-- Menu bar with four link capacity. -->
      {% assign menu_count = site.menus | size %}
      {% if menu_count > 0 %}
      <ul>
        {% for menu in site.menus %}
        <li>
          <a href="{{ menu.url | absolute_url }}">{% if menu.icon %}<i class="mdi mdi-{{ menu.icon }}"></i>{% endif %}{{ menu.title }}</a>
        </li>
        {% endfor %}
      {% endif %}
    </nav>

    <!-- Main Compartment -->
    <main class="container">
      <!-- Repository Collection -->
      <div class="repositories">
        <h2>Starred Repositories</h2>
        {% assign repo_count = site.star_repos | join: '' %}
        {% if repo_count != '' %}
          {% for repo in site.star_repos %}
            {% capture pass %}{% cycle 'repos': 'open', 'close' %}{% endcapture %}
            {% if pass == 'open' %}
        <div class="row">
            {% endif %}
          <div class="repository six columns">
            <h3><a href="{{ repo.url }}"><i class="mdi mdi-git"></i>{{ repo.name }}</a></h3>
            <p>
              {{ repo.desc }}
              {% if repo.site %}
              <a href="{{ repo.site }}">Site</a>
              {% endif %}
            </p>
          </div>
            {% if pass == 'close' or forloop.last %}
        </div>
            {% endif %}
          {% endfor %}
        {% else %}
        <div class="row">
          <div class="twelve columns">
            {{ "No repositories to show :sad:" | markdownify }}
          </div>
        </div>
        {% endif %}
      </div>

      <!-- Here comes everything the user manually defined. -->
      <div class="user-content" id="start">
        {{ content }}
      </div>

      <!-- Posts List -->
      <div class="posts">
        <h2>Posts</h2>
        {% assign post_count = site.posts | size %}
        {% if post_count > 0 %}
          {% for post in site.posts %}
            {% capture pass %}{% cycle 'posts': 'open', 'close' %}{% endcapture %}
            {% if pass == 'open' %}
        <div class="row">
            {% endif %}
          <div class="six columns post">
            <h5><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h5>
            <p class="date">{{ post.date | date: '%A, %b %e, %Y' }}</p>
              {% if post.excerpt %}
            <p>
              {{ post.excerpt | strip | truncate: 150 }}
            </p>
            <p class="read-more">
              <a class="button" href="{{ post.url | relative_url }}">Read more...</a>
            </p>
              {% endif %}
          </div>
            {% if pass == 'close' or forloop.last %}
        </div>
            {% endif %}
          {% endfor %}
        {% else %}
        <p>No posts here yet.</p>
        {% endif %}
      </div>
    </main>

    {% include footer.html %}
  </body>

</html>
